.skill_form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 50px 60px;
    max-width: 556px;
    max-height: 692px;
    border-radius: 12px;
    gap: 16px;
}

.skill_form_button {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.button {
    width: 208px;
    height: 48px;
}

.skill_form_item_input_container {
    max-width: 100%;
}

.skill_form_item_input {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #69735D;
    border-radius: 12px;
}

.input_error {
    width: 100%;
    padding: 12px 20px;

    border: 1px solid #e74c3c;
    border-radius: 12px;
    background: #fff6f6;
}

.drop_down_error {
    width: 100%;
    border: 1px solid #e74c3c;
    border-radius: 12px;
    background: #fff6f6;
}

.errorText {
    color: red;
    font-size: 0.7rem;
}