@import url('../../../app/assets/fonts/font.css');

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  border-radius: 12px;
  background: #fff;
  padding: 132px 60px;
}

.icon {
  width: 300px;
  height: 300px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title {
  font-family: 'Jost', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.011em;
  text-align: center;
}

.description {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
}
