@import url('../app/assets/fonts/font.css');

.title {
  font-family: 'Jost', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #253017;
  margin-bottom: 8px;
}

.radioGroup {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 284px;
}

.radioItem {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
}

.radioInput {
  width: 20px;
  height: 20px;
  margin: 2px;
  border-width: 1px;
  cursor: pointer;
  accent-color: #508826;
}

.radioLabel {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #253017;
}