* {
  --leftIconColor: #69735D;
  --rightIconColor: #253017;
}

.password__input_right-icon {
  padding-inline-end: 32px;
  color: var(--rightIconColor);
}

.password__input {
  padding-inline-end: 50px;
}
  
.left__icon {
  color: var(--leftIconColor);
}