* {
  --leftIconColor: #69735D;
  --rightIconColor: #253017;
  --borderColor: #69735D;
}

.password__input_right-icon {
  padding-inline-end: 32px;
  color: var(--rightIconColor, #253017);
}

.password__input {
  border-radius: 12px;
  padding-inline-start: 20px;
  padding-inline-end: 54px;
  padding-block: 11px;
  line-height: 24px;
  border: 1px solid var(--borderColor, #69735D);
}
  
.left__icon {
  color: var(--leftIconColor, #69735D);
}

.fields__container {
  padding: 12px;
}