.header {
    background-color: #f9faf7;
    box-sizing: border-box;
    padding: 40px 36px 24px 36px;
    display: flex;
    justify-content: space-between;
    height: 104px;
    width: 100%;
    gap: 32px;
}

.header_register {
    background-color: transparent;
}

.headerSearchInput {
    max-width: 527px;
    height: 48px;
    font-size: 16px;
}

.headerSearchInput input {
    padding-left: 8px;
    border-radius: 12px;
}

.Input {
    width: 100%;
    flex-grow: 1;
    flex-basis: 30%;
    max-width: 527px;
    height: 48px;
    font-size: 16px;
}