.form_container {
  --social_button__font-color: #253017;
  --border-color: #69735D;
  
  display: grid;
  padding: 40px 60px;
  grid-template-columns: 1fr 1fr;
  row-gap: 16px;
  column-gap: 20px;
  height: 100%;
  width: 100%;
  justify-items: center;
  max-width: 436px;
  background-color: #fff;
  border-radius: 12px;
  font-size: 14px;
  font-family: Roboto, sans-serif;
}

.element__input {
  grid-column: 1 / 3;
  max-height: 78px;
  width: 100%;
  border: none;
  border: 1px solid var(--border-color, #69735D);
  border-radius: 12px;
}

.icon__container {
  width: 72px;
  height: 72px;
  grid-column: 1 / 3;
}

.avatar__label {
  display: block;
  position: relative;
  background-image: url('../app/assets/static/icons/user-circle.svg');
  width: 72px;
  height: 72px;
  background-size: 54px 54px;
  background-repeat: no-repeat;
  background-size: cover;
}

.avatar__label::after {
  display: block;
  position: absolute;
  bottom: 8px;
  right: 8px;
  content: '';
  width: 16px;
  height: 16px;
  background-color: #abd27a;
  border-radius: 50%;
}

.avatar__label_plusIcon {
  position: absolute;
  bottom: 8px;
  right: 8px;
  width: 16px;
  height: 16px;
  z-index: 1;
  filter: invert() brightness(1.2);
}

.icon__user {
  position: absolute;
  right: 9px;
  bottom: 9px;
  stroke: #fff;
}

.icon__add {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #fff;
  background-color: #abd27a;
  border-radius: 8px;
}

.avatar__input {
  display: none;
}

.date__input  {
  width: 50%;
}

.fixed__input {
  max-height: 78px;
}

.button__group {
  padding-top: 12px;
  display: flex;
  gap: 20px;
  grid-column: 1 / 3;
  width: 100%;
  height: 100%;
}

.button_width {
  width: 50%;
}

.error_text {
  color: #bf3920;
  font-size: 12px;
  line-height: 16px;
  position: relative;
  text-align: center;
  margin: 0;
}

.inputs__with_buttons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32px;
  width: 436px;
  height: 612px;
}

.inputs__with_images {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
  width: 436px;
  height: 532px;
}

.icons__with_add {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  width: 72px;
  height: 72px;
}

.user_circle {
  <svg width="72" height="72" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M53.946 56.1741C51.8494 53.3991 49.1373 51.1486 46.0232 49.5999C42.9091 48.0511 39.478 47.2464 36 47.2491C32.522 47.2464 29.0909 48.0511 25.9767 49.5999C22.8626 51.1486 20.1505 53.3991 18.054 56.1741M53.946 56.1741C58.0365 52.5357 60.9243 47.7398 62.2265 42.4224C63.5287 37.105 63.1838 31.5174 61.2374 26.4005C59.291 21.2837 55.8351 16.8794 51.3282 13.7718C46.8212 10.6642 41.476 9 36.0015 9C30.527 9 25.1818 10.6642 20.6748 13.7718C16.1678 16.8794 12.712 21.2837 10.7656 26.4005C8.81919 31.5174 8.47422 37.105 9.77643 42.4224C11.0786 47.7398 13.9635 52.5357 18.054 56.1741M53.946 56.1741C49.0074 60.5777 42.6166 63.0074 36 62.9991C29.3823 63.0081 22.9933 60.5784 18.054 56.1741M45 29.2491C45 31.6361 44.0518 33.9253 42.3639 35.6131C40.6761 37.3009 38.3869 38.2491 36 38.2491C33.613 38.2491 31.3238 37.3009 29.636 35.6131C27.9482 33.9253 27 31.6361 27 29.2491C27 26.8622 27.9482 24.573 29.636 22.8852C31.3238 21.1973 33.613 20.2491 36 20.2491C38.3869 20.2491 40.6761 21.1973 42.3639 22.8852C44.0518 24.573 45 26.8622 45 29.2491Z" stroke="#253017" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
  </svg>
}

.add {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 100px;
  width: 16px;
  height: 16px;
  background: var(--accent);
}
.add_svg {
  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M12 8.5H4C3.72667 8.5 3.5 8.27333 3.5 8C3.5 7.72667 3.72667 7.5 4 7.5H12C12.2733 7.5 12.5 7.72667 12.5 8C12.5 8.27333 12.2733 8.5 12 8.5Z" fill="white" />
    <path d="M8 12.5C7.72667 12.5 7.5 12.2733 7.5 12V4C7.5 3.72667 7.72667 3.5 8 3.5C8.27333 3.5 8.5 3.72667 8.5 4V12C8.5 12.2733 8.27333 12.5 8 12.5Z" fill="white" />
  </svg>
}

.input__name {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 4px;
  width: 436px;
  height: 76px;
}

.input_label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--text);
}

.input_input {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 4px;
  width: 436px;
  height: 48px;
}

.input__drops_container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 24px;
  width: 436px;
  height: 76px;
}

.input__drops_birthday {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0px;
  width: 206px;
  height: 76px;
  background;
}
.input__drops_birthday_input {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
  border: 1px solid var(--caption);
  border-radius: 12px;
  padding: 12px 20px;
  width: 206px;
  height: 48px;
}

.input__drops_gender {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0px;
  width: 206px;
  height: 76px;
  background;
}

.input__drops_gender_name {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--text);
}

.input__drops_gender_input {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
  border: 1px solid var(--caption);
  border-radius: 12px;
  padding: 12px 20px;
  width: 206px;
  height: 48px;
}

.input__drops_town {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0px;
  width: 436px;
  height: 76px;
}

.input__drops_town_name {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--text);
}

.input__drops_town_input {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
  border: 1px solid var(--caption);
  border-radius: 12px;
  padding: 12px 20px;
  width: 436px;
  height: 48px;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 20px;
  width: 436px;
  height: 48px;
}

.button_back {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  border: 1px solid var(--accent);
  border-radius: 12px;
  padding: 12px 24px;
  width: 208px;
  height: 48px;
  background: var(--card,-input);
}

.button_next {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  border-radius: 12px;
  padding: 12px 24px;
  width: 208px;
  height: 48px;
  background: var(--accent);
}