.form_container {
  --social_button__font-color: #253017;
  --border-color: #69735D;
  
  display: grid;
  padding: 40px 60px;
  grid-template-columns: 1fr 1fr;
  row-gap: 16px;
  column-gap: 20px;
  height: 100%;
  width: 100%;
  justify-items: center;
  max-width: 436px;
  background-color: #fff;
  border-radius: 12px;
  font-size: 14px;
  font-family: Roboto, sans-serif;
}

.element__input {
  grid-column: 1 / 3;
  max-height: 78px;
  width: 100%;
  border: none;
  border: 1px solid var(--border-color, #69735D);
  border-radius: 12px;
}

.icon__container {
  width: 72px;
  height: 72px;
  grid-column: 1 / 3;
}

.avatar__label {
  display: block;
  position: relative;
  background-image: url('../app/assets/static/icons/user-circle.svg');
  width: 72px;
  height: 72px;
  background-size: 54px 54px;
  background-repeat: no-repeat;
  background-size: cover;
}

.avatar__label::after {
  display: block;
  position: absolute;
  bottom: 8px;
  right: 8px;
  content: '';
  width: 16px;
  height: 16px;
  background-color: #abd27a;
  border-radius: 50%;
}

.avatar__label_plusIcon {
  position: absolute;
  bottom: 8px;
  right: 8px;
  width: 16px;
  height: 16px;
  z-index: 1;
  filter: invert() brightness(1.2);
}

.icon__user {
  position: absolute;
  right: 9px;
  bottom: 9px;
  stroke: #fff;
}

.icon__add {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #fff;
  background-color: #abd27a;
  border-radius: 8px;
}

.avatar__input {
  display: none;
}

.date__input  {
  width: 50%;
}

.fixed__input {
  max-height: 78px;
}

.button__group {
  padding-top: 12px;
  display: flex;
  gap: 20px;
  grid-column: 1 / 3;
  width: 100%;
  height: 100%;
}

.button_width {
  width: 50%;
}

.error_text {
  color: #bf3920;
  font-size: 12px;
  line-height: 16px;
  position: relative;
  text-align: center;
  margin: 0;
}
