.info {
    padding: 50px 60px;
    max-width: 556px;
    max-height: 692px;
    border-radius: 12px;
}


.image {
    width: 300;
    height: 300;
    background-size: cover;
    background-position: center;
}

.title {
    font-size: 18px;
    font-family: Jost;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.1%;
    text-align: center;
    vertical-align: middle;

    color: rgba(37, 48, 23, 1);
}

.text {
    font-size: 14px;
    color: rgba(37, 48, 23, 1);
}