.footer {
    box-sizing: border-box;
    padding: 32px 36px;
    display: flex;
    height: 232px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    background-color: white;
    z-index: -1;
}

.left_block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right_block {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
    min-width: 1020px;
    align-items: center;
}

.time {
    color: rgba(105, 115, 93, 1);
    font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    vertical-align: middle;
    padding-left: 10px;
}